[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/Apaordtha
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Apaordtha
	label-Verified = -1..+1 group user/Apaordtha
	push = group user/Apaordtha
	read = group user/Apaordtha
	rebase = group user/Apaordtha
	removeReviewer = group user/Apaordtha
	submit = group user/Apaordtha
[access "refs/heads/*"]
	create = group user/Apaordtha
	push = +force group user/Apaordtha
	pushMerge = group user/Apaordtha
	read = group user/Apaordtha
[access "refs/tags/*"]
	push = group user/Apaordtha
	push = +force group user/Apaordtha
